---
layout: default
---


  <header class="site-masthead">
    {% include menu.html %}

      <h1>
        Introduction to Digital Humanities
      </h1>

      <h2>
        Part I: Architectures of Knowledge
      </h2>

  </header>

<main class="home" id="main" role="main" aria-label="Content">

  <p>The cultural record of humanity is undergoing a massive and epochal transformation into shared analog and digital realities. While we are vaguely familiar with the history and realities of the analog record—libraries, archives, historical artifacts—the digital cultural record remains largely unexamined and relatively mysterious to humanities scholars. In this course you will be introduced to the broad field of Digital Humanities, theory and practice, through a stepwise exploration of the new architectures and genres of scholarly and humanistic production and reproduction in the 21st century.</p>

  <p>The course combines a seminar preceded by a brief lecture, and a digital studio. Every week we will move through our discussions in tandem with hands-on exercises that will serve to illuminate our readings and help you gain a measure of computational proficiency useful in humanities scholarship. You will learn about the basics of plain text, file and operating systems, data structures and internet infrastructure. You will also learn to understand, produce and evaluate a few popular genres of Digital Humanities, including, digital editions of literary or historical texts, collections and exhibits of primary sources and interactive maps. Finally, and perhaps the most important lesson of the semester, you will learn to collaborate with each other on a common research project.</p>

  <h1 class="content-title divided">
      Contents
  </h1>

    

</main>